*.exe
*.ncb
*.o
*.obj
*.pdb
*.plg
.deps
Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.h
config.log
config.status
configure
depcomp
install-sh
missing
stamp-h1
vbindiff
vbindiff.1
win32/*.opensdf
win32/*.sdf
win32/*.suo
win32/*.user
win32/Debug
win32/ipch
win32/Release
